/* even .forumTableRow {background-color: #fafafa;} */
.bread-crumbs {
  color: #222;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 21px;
  line-height: 19px;
  font-weight: 700;
  margin: 0 10px 20px 10px;
}
.descriptionRow {
  /* border-bottom: 1px solid #e9e9e9; */
  padding-bottom: 12px;
}
.forumTableRow {
  border-top: 3px solid #e9e9e9;
  border-bottom: 3px solid #e9e9e9;
  padding: 2px 12px;
  margin-bottom: 10px;
  background-color: #fafafa;
}
.threadCountColumn {
  width: 50%;
  display: inline-block;
  /* border-right: 1px solid #e9e9e9; */
}
.postCountColumn {
  /* width: 50%; */
  display: inline-block;
}
.rowTitle {
  color: #919191;
  font-size: 14px;
  float: left;
}
.subforaTitle {
  padding: 20px 0 0 20px;
  font-size: 18px;
  font-weight: 500;
}
.subforaSubtitle {
  padding: 5px 0 0 20px;
  font-size: 11px;
  font-weight: 400;
  color: #646464;
}
.subforaLastPost {
  padding: 20px 0 0 20px;
}
.lastPostRow {
  padding-top: 12px;
}
/* .show, .hidden {
  transition: all 5s;
} */
.countRow .rowTitle {
  padding-right: 3px;
}
.accordionToggle {
  color: #919191;
  font-size: 14px;
  float: right;
  cursor: pointer;
}

