.newThreadContent {
    width: 300px;
}

/* .new-threadbox {
    width: 100%;
    background-color: yellow;
} */
/*
#newThreadView {
    width: 100%;
    background-color: gray;
    display: inline-block;
}
