
/* .new-threadbox {
    width: 100%;
    background-color: yellow;
} */

/* #newThreadView {
    width: 100%;
    background-color: gray;
    display: inline-block;
} */

.view {
    width: 100%;
    background-color: gray;
    display: inline-block;
}