.newThreadView {
  width: 100%;
}

.newThreadView>.smallMargin {
  float: left;
  width: 80%;
}

.newThreadTitle {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 50px 0;
}

.newThreadContent {
  display: block;
  width: 100%;
  max-width: 700px;
  height: 35vh;
  resize: none;
  margin: 50px 0;
}

.addThreadButton {
  float: right;
}
