.comment-container {
  display: inline-block;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
}

.comment-container:nth-child(odd) {
  background-color: #eeeeee;
}


.comment-container:nth-child(even) {
  background-color: #fff;
}

.user-info-block {
  font-family: 'Saira', sans-serif;
  display: inline-block;
  width:130px;
  padding: 10px;
  float: left;
 
}

.user-info-block img {
  display: block;
  margin: 10px auto;
}

.user-info-block a {
  margin: 10px auto;
  display: block;
  text-align: center;
  color: #369;
}

.user-info-block p {
  margin: 10px auto;
  display: block;
  text-align: center;

}

.comment-info-block {
  display: block;
  vertical-align: top;
  width: calc(100% - 150px);
  float:left;
}

.addCommentContainer {
  padding-top: 50px;
  clear: both;
}

.comment-posted-on {
  width: calc(100%-10);
  padding-right: 0;
  background-color:#9b9ea3;
  color: #fff;
  font-size: 0.8125em;
  line-height: 1em;
  letter-spacing: 0.04em;
  height: 29px;
}

.comment-posted-on .editCommentButton {
  margin-top: 4px;
}
.comment-posted-on span {
  float:right;
  vertical-align: bottom;
  margin: 8px 10px;
}

.comment-posted-on {
  padding-right:10px;
}

.comment-text {
  margin: 10px 10px;
  width: calc(100% - 150px);
  white-space: pre-wrap;
}
