.banner {
  /* color: white;
  font-size: 1.5em; */
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.2)), url(https://mave.me/img/projects/full_placeholder.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px 20px 20px 20px;
  max-height: inherit;
  background-color: rgba(255,255,255,0.1);
  background-blend-mode: color;
  min-height: 250px;
  margin: -20px 0 20px;
}

/* #threadView .banner {
  min-height: 0px;
} */

.bannerText {
  font-size: 20px;
  color: #FFF;
  padding-top: 10px;
}
.bannerCloseIcon {
  color: #FFF;
}
.bannerCloseIconSpan {
  font-size: 20px;
  margin-top: -20px;
  float: right;
  cursor: pointer;
}
.bannerHeadline {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
}
.bannerLinks {
  text-decoration: underline;
  line-height: 1.5;
}
.bannerSubheader {
  margin-top: 15px;
}
@media only screen and (min-width: 363px) {
  .xsFormatting {
    display: none;
  }
  .bannerSubheader {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 1068px) {
  .bannerHeadline {
    font-size: 44px;
  }
  .bannerSubheader {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1069px) {
  .bannerHeadline {
    font-size: 56px;
  }
  .bannerSubheader {
    font-size: 31px;
  }
}