.commentContainer {
  margin: 50px 0;
}

.comment-container {
  display: inline-block;
  margin-top: -3px;
  clear: both;
  width: 100%;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #888;
 }

.comment-container:first-child {
  border-top: 2px solid #888;
}

.comment-container:nth-child(odd) {
  background-color: #E8C2CC;
}

.comment-container:nth-child(even) {
  background-color: #eeeeee;
}

.comment-container>div:first-child {
  display: block;
  float: left;
  width: 175px;
  border-right: 2px solid #888;
  padding: 10px;
}

.comment-container>div:first-child a {
  display: block;
  margin-bottom: 10px;
}

.comment-container>div:first-child p {
  font-size: 12px;
}

.comment-container>div:last-child {
  display: block;
  float: left;
  width: calc(100%-175px);
}

.comment-posted-on {
  margin: 10px !important;
  float: right;
  font-size: 14px;
  text-decoration: underline;
}

.comment-content {
  position: relative;
  clear: right;
  margin: 10px !important;
}
