/* ERROR */
.errorViewContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    text-align: center;
}
.errorViewContainer img {
    max-width: 100vw;
}

  /* login in page */

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 420px;
    border-radius: 5px;
    border: 10px solid rgba(255,255,255,.2);
    box-shadow: 10px 10px 15px rgba(0,0,0,.5);
}

.imgBx {
    width: 350px;
    height: 420px;
    overflow: hidden;
    float: left;
}

.imgBx img {
    width: 100%;
    height: 100%;
}

.loginBox {
    float: right;
    width: 350px;
    height: 420px;
    box-sizing: border-box;
    padding: 80px 40px;
    background: rgba(255,255,255,0.8);
}

#box-position {
    margin: 0;
    padding: 0 0 20px;
    color: #262626;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #262626;
    background: transparent;
    font-size: 16px;
    padding-left: 40px;
    box-sizing: border-box;
}

::placeholder {
    color: rgba(0,0,0,.5);
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #226622;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #ed292a;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.pro-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

  /* .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 350px;
      height: 420px;
      padding: 80px 40px;
      box-sizing: border-box;
      background: rgba(0,0,0,.5);
  }

  .pro-pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: calc(-100px/2);
      left: calc(50% - 50px);
  }
 
  #box-position {
      margin: 0;
      padding: 0,0,20px;
      color: yellow;
      text-align: center;
  }

  .login-position p {
      margin: 0;
      padding: 0;
      font-weight: bold;
      color: gray;
  }

  .login-position input {
      width: 100%;
      margin-bottom: 20px;
  }

  .login-position input[type="text"] {
      border: none;
      border-bottom: 1px solid green;
      background: transparent;
      outline: none;
      height: 40px;
      color: red;
      font-size: 16px;
  }

  .login-position input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
      background: orange;
      cursor: pointer;
      border-radius: 20px;
  }

  .login-position input[type="submit"]:hover {
      background: #efed40;
      color: #262626;
  } */

  /* .login-position a {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
  } */

.signUpButton, #editProfileButton, .addThreadButton, .newThreadButton, .addCommentButton, .saveCommentButton, .deleteCommentButton {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 30px 0px 30px 30px;
    background-color: #e45735;
    color: #fff;
    font-family: 'Saira', sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    border-bottom: #f0776c;
    border-radius: 5px;
    padding: 11px 20px;
    box-shadow: inset 0 -2px #f0776c;
}

.signUpButton:hover, #editProfileButton:hover, .addThreadButton:hover, .newThreadButton:hover, .addCommentButton:hover, .saveCommentButton:hover, .deleteCommentButton:hover {
    background-color: rgba(228, 87, 53, .8);
    border-bottom: rgba(240, 119, 108, .8);
    box-shadow: inset 0 -2px rgba(240, 119, 108, .8);
}

#editProfileButton {
  position: absolute;
  left: calc(50% - 86px);
}

.editCommentTextArea {
  width: 96%;
  resize: none;
  min-height: 100px;
  margin:10px 0 0 2%;
}

.editCommentButton {
  cursor: pointer;
  color: rgb(208,107,0);
}

.addCommentTextArea {
  width: 98%;
  height: 10%;
  min-height: 100px;
  max-height: 300px;
  resize: none;
  font-size: 1.4em;
  font-family: monospace;
}

.addCommentContainer {
    margin: 10px;
}

.addCommentContainer p {
  font-family: 'Saira', sans-serif;
  margin: 10px;
}

/* FOOTER */
.contactLinksDiv {
    height: 48px;
}
.contactLinks {
line-height: 48px;
color: #FFF;
}
#brian {
    background: #6dcd9a;
}
#dave {
    background: #1E83AE;
}
#keith {
    background: #3DACDD;
}
#gene {
    background: #3D5B94;
}
#brian:hover, #dave:hover, #gene:hover, #keith:hover {
    background: #000;
}
#contactFooter {
    display: block;
    line-height: 48px;
    height: 48px;
    color: #FFF;
    float: right;
    margin-right: 50px;
}
.contactLinks {
display: none;
}
@media (min-width: 768px) {
    #hiddenContact {
        display: none;
    }
    .hiddenContact {
        display: none;
    }
    #contactFooter {
        float: none;
        display: inline-block;
        line-height: 48px;
        color: #FFF;
        padding-left: 50px;
    }
    .contactLinksDiv {
        width: 50%;
        float: right;
    }
    .contactLinks {
        display: block;
        width: 25%;
        float: right;
        text-align: center;
        line-height: 48px;
    }
}